# cl_dummy 0 # 0 == player
cl_dummy_hammer 0
cl_dummy_resetonswitch 0
cl_dummy_restore_weapon 1 # HINT: Maybe 0 can be used in cfg
cl_dummy_copy_moves 0
# Dummy Control
cl_dummy_control 0
cl_dummy_jump 0
cl_dummy_fire 0
cl_dummy_hook 0
